h3,
span,
p {
  margin: auto;
  line-height: 70px;
  height: 60px;
  text-align: center;
  font-family: 'Gugi', cursive;
  font-size: 1.5em;
}

h1 {
  margin: auto;
  line-height: 70px;
  height: 60px;
  text-align: center;
  font-family: 'Gugi', cursive;
  font-size: 4em;
  color: #7884f3;
}

h4 {
  margin: auto;
  line-height: 70px;
  height: 60px;
  text-align: center;
  font-family: 'Gugi', cursive;
  font-size: 1.5em;
  margin-left: 70px;
  margin-right: 70px;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  background-color: rgba(240, 166, 29, 0.309);
}

p {
  margin: 30px;
}

.play {
  font-size: 20px;
  width: 100px;
  border: 5px solid rgb(4 225 254);
  background: #a3e5eed0;
  color: black;
  padding: 1em;
  border-radius: 30px;
  width: 100%;
  max-width: 220px;
  margin: 1em;
}

.comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  border: 5px solid rgb(240, 20, 20);
  padding: 0.9em;
  background: #000000cb;
  color: white;
  border-radius: 30px;
  max-width: 220px;
  margin: 1em;
}


#fire {
  display: flex;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  background: rgba(255, 255, 0, 0.381);
  color: rgb(255, 0, 0);
  border: 2px solid;
  border-radius: 50%;
  padding: 3em 3em 3em 3em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

#fire:hover {
  border-color: rgba(255, 0, 0, 0.685);
  color: orange;
  box-shadow: 0 0.5em 0.5em -0.3em rgba(255, 0, 0, 0.283);
  transform: translateY(-0.3em);
  cursor: pointer;
}

#water {
  display: flex;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  background: rgba(0, 255, 255, 0.405);
  color: blue;
  border: 2px solid;
  border-radius: 50%;
  padding: 3em 3em 3em 3em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

#water:hover {
  border-color: blue;
  color: rgb(29, 175, 216);
  box-shadow: 0 0.5em 0.5em -0.3em rgba(0, 0, 255, 0.455);
  transform: translateY(-0.3em);
  cursor: pointer;
}

#earth {
  display: flex;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  background: rgba(136, 27, 27, 0.354);
  color: brown;
  border: 2px solid;
  border-radius: 50%;
  padding: 3em 3em 3em 3em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

#earth:hover {
  border-color: rgb(42, 165, 79);
  color: rgb(5, 100, 46);
  box-shadow: 0 0.5em 0.5em -0.3em rgba(0, 255, 42, 0.572);
  transform: translateY(-0.3em);
  cursor: pointer;
}

#air {
  display: flex;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  background: rgba(4, 252, 252, 0.152);
  color: rgb(51, 194, 213);
  border: 2px solid;
  border-radius: 50%;
  padding: 3em 3em 3em 3em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

#air:hover {
  border-color: rgb(51, 194, 213);
  color: rgb(25, 135, 149);
  box-shadow: 0 0.5em 0.5em -0.3em rgb(4, 225, 254);
  transform: translateY(-0.30em);
  cursor: pointer;
}

#container1,
#rounds {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}

#characters {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 100px;
}

#results {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 80px;
}

#btn-bar {
  display: flex;
  justify-content: center;
  line-height: 80px;
  margin: 2em;
}

#chooseRounds {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  height: 80px;
}

#btn-bar button {
  height: 150px;
  width: 150px;
  font-size: 1em;
  margin-left: 2em;
}

.reset-button {
  display: flex;
  justify-content: center;
  margin: 1em;
}

span#computer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

span#player {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

span#playerDisplay {
  margin-left: 90px;
  margin-right: 90px;
}

span#compDisplay {
  margin-left: 90px;
  margin-right: 90px;
}

img {
  margin-top: 30px;
}

div#rounds {
  margin: 5px;
}

div#container1 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.comp h3 {
  margin-top: 30px;
}

#fire-img {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 5px;
}

#water-img {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 5px;
}

#earth-img {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 5px;
}

#air-img {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 5px;
}

button {
  border: 1px solid #0066cc;
  background-color: #0099cc;
  color: #ffffff;
  padding: 5px 10px;
}

button:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
}

#fire:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#water:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#earth:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#air:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}


@media (max-width: 900px) {
  body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: auto;
  }

  .play img {
    margin-left: 30px;
  }

  div#characters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5px;
  }

  h2 {
    margin: 110px;
  }

  div#rounds {
    margin: 5px;
  }

  h4 {
    margin: 0.5em;
    padding: 0.5em;
  }

  span#playerDisplay {
    margin: 1em;
  }

  span#compDisplay {
    margin: 1em;
  }

  div#btn-bar {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
  }

  div#container1 {
    margin-top: 150px;
  }

  div#chooseRounds {
    margin: 0.5em;
  }

  .reset-button {
    margin: 1em;
  }

  #btn-bar button {
    margin: 0.5em;
  }
}